<div style="display: flex; justify-content: center;">
  <div style="width: 800px;">
    <canvas id="myChart"></canvas>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <div style="width: 100%; max-width: 900px;">
    <table style="width: 100%; background: linear-gradient(to bottom, aqua, lightblue); border-collapse: collapse; border-radius: 10px;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Time Worked</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of data" style="background-color: rgba(255, 255, 0, 0.5);">
          <td>{{ employee["EmployeeName"] }}</td>
          <td>{{ calculateTotalTime(employee["StarTimeUtc"], employee["EndTimeUtc"]) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
